.container {
    display: grid;
    grid-template-columns: 1.2fr 1.3fr 1.4fr 1.1fr;
    grid-template-rows: 0.2fr 0.3fr 0.1fr 1.5fr 3fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    width: 100%;
    height: 100.5%;
    font-family:'Open Sans',Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 0px;
    max-height: 1000px;
  }
  .WelcomeMSg { 
    text-align: center left;
    line-height: 2em;
    margin-top: 20px;
    grid-area: 4 / 2 / 5 / 4;}
    .Header { grid-area: 2 / 1 / 4 / 5; }
    nav ul>a:hover{
      animation-name: text_fadein;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }
  
    nav ul>li:hover span{
      cursor: default;
    }
    
    nav ul>a:hover>li{
      animation-name: menu_fadein;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }
    nav {
      
      margin: 0 auto;
      margin-bottom:20px;
      
    }
    nav ul {
      list-style: none;
      text-align: center;
    }
    nav ul li {
      display: inline-block;
    }
    nav ul li a {
      display: block;
      padding: 15px;
      text-decoration: none;
      color: #aaa;
      font-weight: 800;
      text-transform: uppercase;
      margin: 0 10px;
      position:relative;
      z-index: 1;
    }
    nav.shift ul li a:hover {
      color: #91640F;
    }
    nav.shift ul li a:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 1px;
      content: '.';
      color: transparent;
      background: #F1C40F;
      visibility: none;
      opacity: 0;
      z-index: -1;
    }
    nav.shift ul li a:hover:after {
      opacity: 1;
      visibility: visible;
      height: 100%;
    }
    nav ul li a,
    nav ul li a:after,
    nav ul li a:before {
      transition: all .5s;
    }
    nav ul li a:hover {
      color: rgb(0, 0, 0);
    }
    .Right { grid-area: 4 / 4 / 8 / 5; }
    .Left { grid-area: 4 / 1 / 8 / 2; }
    .WelcomeMSg h1{
      text-indent: 0.5em;
      font-size:49px;
    }
    .WelcomeMSg h2{
      font-size:40px;
      position: relative;
    }
    .Edu { grid-area: 5 / 2 / 6 / 3;
      margin-top:30px;
      box-shadow: 1px 4px 7px 0px #000000;
      text-align: left;
      padding-left: 10px;
      padding-top: 10px;
      font-size:20px;
      line-height:1.5;
      border-top: 1 solid;
      padding-right: 30px;
      width:100%; }
      .Exp { grid-area: 5 / 3 / 6 / 4;
        position:-webkit-sticky;
        margin-top:30px;
        text-align: left;
        padding-left: 55px;
        padding-right: 30px;
        padding-top: 10px;
        font-size:20px;
        width: 100%;
        line-height:1.5;
        box-shadow: 1px 4px 0px 0px #000000;
        margin-left: -2px; }
            .intrests {   
              border-radius: 50px;
              margin: 20px 30px 0px 30px;
              grid-area: 6 / 1 / 8 / 5; 
              background-color:gold;
              display:flex;
              justify-content: center;
              height:fit-content;
              text-align: center;
              padding-top: 5em;
              padding-bottom: 5em;
              box-shadow: 1px 4px 7px 0px #000000;
            }
            .heading { grid-area: 6 / 1 / 7 / 5; 
             text-shadow: 1px 4px 7px 0px #000000;
              font-size:40px;
              margin-bottom: 20px;
              text-align:center;padding-top: 1em;} 
          
                    table img {
                      object-fit: cover;  
                      border-radius: 20px;
                      width: 227px;
                      height: 331px;
                      padding:2px;
                    }
                    .footer { grid-area: 8 / 1 / 9 / 5;
              margin-top:780px;
              box-shadow: 10px 10px 10px 10px #000000;
              text-align: left;
              padding-left: 10px;
              padding-top: 10px;
              font-size:20px;
              line-height:2;
              width:100%; 
              height: fit-content;
              border-top: 1 solid;
            }
            @media only screen and (max-width: 568px)
            {
              div#txtHello {
                display: none;
              }
              div#txtWlcEdit {
                margin-top:20px;
                position: sticky;
                padding-top: 10px;
              }
              div#edu {
                grid-area: 5 / 2 / 6 / 4;
                width: 100%;
                position: absolute;
                margin-top: 170px;
                padding-bottom: 20px;
                padding-left: 20px;
              }
              div#exp {
                grid-area: 5 / 2 / 6 / 4;
                width: 100%;
                position: absolute;
                margin-top: 330px;
                padding-bottom: 20px;
                padding-left: 20px;
              }
              div#logo {
                display: none;
              }
              div#intrests {
                margin-top:500px; display: none;
                
              }
              div#heading {
                display: none;
                
              }
              div#footer {
                position:fixed;
                margin-top: 700px;
                font-size:16px;
                display:flex;
                justify-content: left;
                text-align: center;
              }
            }